/* fonts */
@import url('https://webfontworld.github.io/NexonLv1Gothic/NexonLv1Gothic.css');

.nexon {
    font-family: 'NexonLv1Gothic';
    font-weight: 400;
}

/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #000;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
}

/* common */
.container {
    width: 1160px;
    padding: 0 20px;
    margin: 0 auto;
}

.section {
    padding: 120px 0;
    text-align: center;
}

.section > h2 {
    font-size: 50px;
    margin-bottom: 20px;
}

.section > p {
    font-size: 22px;
    font-weight: 300;
    margin-bottom: 70px;
    color: #777;
}

/* imageType */
.image__inner {
    display: flex;
    justify-content: space-between;
}

.image {
    width: 49%;
    height: 370px;
    padding: 200px 30px 30px 30px;
    box-sizing: border-box;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;
}

.image::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-size: cover;
    background-position: center;
    z-index: -1;
}

.image__title {
    font-size: 32px;
    margin-bottom: 10px;
}

.image__desc {
    font-size: 16px;
    margin-bottom: 10px;
    line-height: 1.4;
    font-weight: 300;
    padding-right: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}

.image__btn {
    font-size: 16px;
    font-weight: 300;
    color: #fff;
    background-color: #B45A30;
    padding: 10px 20px;
    display: inline-block;
}

.image__btn.yellow {
    background-color: #B59140;
}
