.slider__wrap {
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
    padding-top: 80px;
}

.slider {
    position: relative;
}

.slider__img {
    width: 100%;
    height: 400px; /* 가로 길게, 세로 짧게 */
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.desc {
    width: 1160px;
    text-align: center;
}

.desc span {
    font-size: 16px;
    background-color: #fff;
    padding: 5px 14px;
    border-radius: 30px;
    text-transform: uppercase;
    display: inline-block;
    margin-bottom: 10px;
}

.desc h3 {
    font-size: 80px;
    font-weight: 300;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 16px;
}

.desc p {
    font-size: 20px;
    font-weight: 300;
    color: #fff;
    margin-bottom: 100px;
}

.desc h3{
  text-shadow: 0 25px 5px rgba(0, 0, 0, 0.4);
}

.arrow {
  position: absolute;
  top: 50%;
  z-index: 10;
  transform: translateY(-50%);
  color: white;
}

.arrow.prev {
  left: 20px;
}

.arrow.next {
  right: 20px;
}





